.order-summary-details {
  @include flex-column;
  gap: $spacing-200;

  &__list {
    @include list-style-none;
  }

  &__item {
    padding-block: $spacing-200;
    border-bottom: 1px solid $color-rose-100;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border: 0;
    }
  }

  &__divider {
    height: 1px;
    color: $color-rose-100;
    background-color: $color-rose-100;
    border: none;
  }

  &__total {
    @include flex-center;
    justify-content: space-between;

    &-label {
      @include text-preset-4;
    }

    &-amount {
      @include text-preset-2;
    }
  }
}
