.product-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacing-300;
  @include list-style-none;

  @include respond-to('tablet') {
    grid-template-columns: repeat(3, 1fr);
    gap: $spacing-400 $spacing-300;
  }
}
