.shopping-cart {
  @include flex-column;
  gap: $spacing-300;
  padding: $spacing-300;
  background-color: $color-white;
  border-radius: $spacing-150;

  &__heading {
    color: $color-red;
  }

  &__environmental-message {
    @include flex-center;
    gap: $spacing-100;
    padding: $spacing-200;
    @include text-preset-4;
    background-color: $color-rose-50;
    border-radius: $spacing-100;
  }

  &--empty {
    padding-block: $spacing-200;
    @include flex-center-column;
    gap: $spacing-200;

    &__message {
      @include text-preset-4-bold;
      color: $color-rose-500;
    }
  }
}
