@font-face {
  font-family: 'Red Hat Text';
  src: local('Red Hat Text Regular'),
    url('/src/assets/fonts/RedHatText-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Red Hat Text';
  src: local('Red Hat Text SemiBold'),
    url('/src/assets/fonts/RedHatText-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Red Hat Text';
  src: local('Red Hat Text Bold'),
    url('/src/assets/fonts/RedHatText-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
